
$color_gradient1: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
$color_gradient2: linear-gradient(294.14deg, #FBDE85 -80.2%, #D8A530 -44.63%, #FBDE84 -11.21%, #E3B74C 35.14%, #FBDE84 68.82%, #C58502 126.77%);
$color_gradient3: linear-gradient(91.69deg, #C48401 25.17%, #D8A531 60.03%, #E4B94F 89.4%, #C48401 102.08%);

$font_size_text_480: 12px;
$line_height_text_480: 16px;
$font_size_detail_480: 16px;
$line_height_detail_480: 20px;
$font_size_content_480: 20px;
$line_height_content_480: 25px;
$font_size_content1_480: 25px;
$line_height_content1_480: 30px;
$font_size_title_480: 30px;
$line_height_title_480: 35px;

$font_size_text_768: 16px;
$line_height_text_768: 20px;
$font_size_detail_768: 20px;
$line_height_detail_768: 25px;
$font_size_content_768: 25px;
$line_height_content_768: 30px;
$font_size_content1_768: 30px;
$line_height_content1_768: 35px;
$font_size_title_768: 35px;
$line_height_title_768: 40px;

//common-style
.image-gradient {
  background: linear-gradient(180deg, rgba(15, 67, 67, 0) 0%, rgba(13, 51, 51, 0.572917) 65.1%, #0B2727 100%);
  height: 100%;
  width: 100%;
  position: absolute;
}
.seperate {
  width: 100%;
  height: 10px;
  background: linear-gradient(90.05deg, #FDEB95 2.96%, #D7A657 154.18%);
}

.company-location {
  flex-wrap: wrap;
  max-width: 700px;
  margin: 16px auto 32px;
  .company-item {
    display: flex;
    flex-direction: column;
    .company-content {
      flex-grow: 1;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      text-align: center;
      font-size: $font_size_text_480;
      line-height: $line_height_text_480;
      color: #1B4635;
      background: linear-gradient(302.34deg, #FFF9BF -0.41%, #D7A657 192.93%);
      border-radius: 10px 10px 0px 0px;
      padding: 6px;
      -webkit-border-radius: 10px 10px 0px 0px;
      -moz-border-radius: 10px 10px 0px 0px;
      -ms-border-radius: 10px 10px 0px 0px;
      -o-border-radius: 10px 10px 0px 0px;
      b {
        font-size: $font_size_content1_480;
        line-height: $line_height_content1_480;
      }
      .number {
        font-size: $font_size_content1_480;
        line-height: $line_height_content1_480;
        b {
          font-size: $font_size_title_480;
          line-height: $line_height_title_480;
        }
      }
    }
    .company-title {
      padding: 0 15px;
      background: #1B4635;
      border-radius: 0px 0px 10px 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_text_480;
      line-height: $line_height_detail_480;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      -webkit-border-radius: 0px 0px 10px 10px;
      -moz-border-radius: 0px 0px 10px 10px;
      -ms-border-radius: 0px 0px 10px 10px;
      -o-border-radius: 0px 0px 10px 10px;
}
  }
  .location1 {
    width: 100%;
    padding-bottom: 10px;
    max-width: 300px;
    margin: auto;
  }
  .location2 {
    margin: auto;
  }
}

.hotline-box {
  height: 64px;
  max-width: 300px;
  background: linear-gradient(93.7deg, #FBDE85 9.38%, #EECA75 43.48%, #D7A657 69.22%, #EDC873 97.34%, #C48401 124.27%);
  border-radius: 46px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #634405;
  margin: 104px auto 21px;
  b {
    font-weight: 900;
    font-size: 28px;
    line-height: 33px;
  }
}

.contact-box {
  max-width: 300px;
  height: 160px;
  border: 1px solid #EDD491;
  box-sizing: border-box;
  border-radius: 16px;
  margin: auto;
  padding: 8px;
  .form-control {
    height: 44px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 6px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.btn-send {
  width: 275px;
  height: 44px;
  background: linear-gradient(93.63deg, #FBDE85 -17.39%, #E3B74C 21.25%, #FBDE85 57.08%, #E3B84D 88.69%, #C48401 117.49%);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #634405;
  cursor: pointer;
  text-align: center;
  line-height: 44px;
  padding: 0 37px;
  margin-left: 6px;
  margin-top: 6px;
  .icon-send {
    width: 22px;
    height: 18px;
  }
}
.socical-box {
  width: 200px;
  margin: auto;
  .icon-social {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
}


//header-section
.header {
  width: 100%;
  background: #1A4237;
  .logo-header {
    height: 47px;
    width: 155px;
    margin: 10px;
    border-radius: 0px;
  }
  .content-header {
    height: 100%;
    margin: 0 240px;
    display: flex;
  }
  .header-title {
    justify-content: space-between;
    flex-grow: 1;
    padding: 5vw;
    font-size: $font_size_detail_480;
  }
  .hotline {
    font-family: Roboto;
    font-size: $font_size_detail_480;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: right;
    color: #FDED99;
    padding: 2vw;
  }
}

//banner-section
.banner {
  flex-direction: column-reverse;
  .contact-banner {
    position: relative;
    background-image: url("../../images/3324055i-01.jpg");
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0px;
    .contact-title {
      font-family: UTM Copperplate;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_content_480;
      line-height: $line_height_content_480;
      text-align: center;
      color: #FFFFFF;
      z-index: 2;
      margin-top: 16px;
    }
    .contact-title2 {
      background: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: UTM Copperplate;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_title_480;
      line-height: $line_height_title_480;
      text-align: center;
      z-index: 2;
      margin-top: 16px;
    }
  }
  .left-banner {
    position: relative;
    z-index: 2;
    .banner-img {
      width: 100%;
    }
    .title-banner {
      width: 70%;
      height: auto;
      bottom: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
  .contact-box {
    width: calc(100% - 20px);
    margin: 10px auto;
    height: auto;
    .form-control {
      height: 35px;
    }
    .btn-send {
      font-size: $font_size_detail_480;
      line-height: $line_height_title_480;
      width: 200px;
      padding: 0;
      height: 35px;
    }
  }
  .hotline-box {
    height: 50px;
    font-size: $font_size_detail_480;
    line-height: $line_height_detail_480;
    margin: 20px auto;
    b {
      font-size: $font_size_content_480;
    }
  }
}
//shophouse-section
.shophouse {
  position: relative;
  flex-direction: column;
  margin-top: 16px;
  .shophouse-header {
    position: relative;
    width: 100%;
    height: calc(100vw - 30px);
    background-image: url(../../images/2288-01.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .shophouse-img {
      width: 100%;
    }
    .shophouse-title {
      font-family: UTM Copperplate;
      font-style: normal;
      padding-top: 80px;
      .shophouse-title1 {
        font-size: $font_size_content_480;
        line-height: $line_height_content_480;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        color: #1F6247;
      }
      .shophouse-title2 {
        font-size: $font_size_content1_480;
        line-height: $line_height_content1_480;
        letter-spacing: 0em;
        text-align: center;
        color: #1F6247;
        margin: 5px;
      }
      .shophouse-title3 {
        width: 63%;
        padding-right: 10px;
        font-family: Roboto;
        font-size: $font_size_text_480;
        line-height: $line_height_text_480;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: justify;
        margin: auto;
      }
    }
  }
  .shophouse-item1 {
    width: 100%;
    .shophouse-item1-img {
      width: 100%;
    }
  }
}
//shophouse-images
.shophouse-images {
  flex-direction: column;
  .shophouse-images-item {
    width: 100%;
    margin-top: 10px;
    position: relative;
    .shophouse-item-img {
      width: 100%;
    }
    .shophouse-item-title {
      position: absolute;
      width: 386px;
      font-family: UTM Copperplate;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_content_480;
      line-height: $line_height_content_480;
      text-align: center;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
      background: $color_gradient1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

//info-section
.info {
  padding: 10px 0 0;
  flex-direction: column-reverse;
  .info-image {
    width: 100%;
    .info-img {
      width: 100%;
    }
  }
  .info-detail {
    background-color: #1A4237;
    padding: 10px;
    .info-title {
      width: 100%;
      font-family: UTM Copperplate;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_content1_480;
      line-height: $line_height_content1_480;
      text-align: center;
      background: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 16px;
    }
    .info-content {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: $font_size_text_480;
      line-height: $line_height_text_480;
      letter-spacing: 0em;
      text-align: left;
      color: #E5E5E5;
      font-feature-settings: "cpsp" on;
    }
  }
}
//info2-section
.info2 {
  flex-direction: column;
  .info2-content {
    width: 100%;
    padding: 10px;
    &.left {
      background-color: #fbf8ed;
    }
    &.right {
      background-color: #eff3f4;
    }
    .info2-title {
      font-family: UTM Copperplate;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_content_480;
      line-height: $line_height_content_480;
      text-align: center;
      background: $color_gradient2;
      background: linear-gradient(91.69deg, #C48401 25.17%, #D8A531 60.03%, #E4B94F 89.4%, #C48401 102.08%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .info2-detail {
      width: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font_size_text_480;
      line-height: $line_height_text_480;
      text-align: justify;
      font-feature-settings: "cpsp" on;
      color: #000000;
      word-break: break-word;
      white-space: pre-line;
    }
  }
}
//utilities-section
.utilities {
  background-color: #1A4237;
  flex-direction: column;
  .utilities-content {
    width: 100%;
    padding: 10px;
    .utilities-content-title {
      font-family: UTM Copperplate;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_content1_480;
      line-height: $line_height_content1_480;
      text-align: center;
      background: $color_gradient1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .utilities-content-detail {
      font-family: Roboto;
      font-style: normal;
      font-size: $font_size_text_480;
      line-height: $line_height_text_480;
      text-align: justify;
      font-feature-settings: 'cpsp' on;
      color: #FCF9ED;
      word-break: break-word;
      white-space: pre-line;
    }
  }
  .utilities-image {
    width: 100%;
    .utilities-img {
      width: 100%;
    }
  }
}
//flat-section
.flat {
  margin-top: 16px;
  .flat-title {
    margin-top: 10px;
    font-family: UTM Copperplate;
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_content1_480;
    line-height: $line_height_content1_480;
    text-align: center;
    background: $color_gradient3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .flat-img {
    width: 100%;
    margin: auto;
  }
}
//flat-images
#images {
  margin-top: 16px;
}
.images {
  margin-top: 10px;
  flex-direction: column;
  .image-item {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    mix-blend-mode: multiply;
    &:last-child {
      margin-bottom: 0;
    }
    .img-item {
      width: 100%;
    }
    .images-title {
      z-index: 2;
      width: 100%;
      font-family: UTM Copperplate;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_content_480;
      line-height: $line_height_content_480;
      text-align: center;
      background: $color_gradient1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      bottom: 50px;
    }
    .images-content {
      z-index: 2;
      width: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: $font_size_text_480;
      line-height: $line_height_text_480;
      text-align: center;
      font-feature-settings: 'cpsp' on;
      color: #FFFFFF;
      position: absolute;
      bottom: 10px;
    }
  }
}
//footer-section
.footer {
  background-image: url(../../images/3324055-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column-reverse;
  // background-color: #1A4237;
  .footer-title {
    font-family: UTM Copperplate;
    font-style: normal;
    font-weight: bold;
    font-size: $font_size_content_480;
    line-height: $line_height_content_480;
    text-align: center;
    background: $color_gradient1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer-left {
    width: 100%;
    position: relative;
    .footer-img-area {
      margin: 30px auto 0;
      width: 100%;
      height: 80px;
      position: relative;
      .footer-img {
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .footer-right {
    width: 100%;
    .hotline-box {
      height: 50px;
      margin: 20px auto;
      font-size: $font_size_detail_480;
      line-height: $line_height_detail_480;
      b {
        font-size: 20px;
      }
    }
    .contact-box {
      width: 100%;
      height: auto;
      border: 1px solid #EDD491;
      box-sizing: border-box;
      border-radius: 16px;
      margin: auto;
      padding: 8px;
      .form-control {
        height: $line_height_title_480;
        font-size: $font_size_detail_480;
      }
      .btn-send {
        line-height: $line_height_title_480;
        height: $line_height_title_480;
        width: 200px;
        padding: 0;
        .icon-send {
          margin-right: 4px;
        }
      }
    }
    .socical-box {
      .icon-social {

      }
    }
  }
  .footer-menu {
    margin: 20px auto;
    padding: 0 10px;
    .footer-menu-item {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $font_size_text_480;
      line-height: $line_height_text_480;
      text-align: center;
      color: #FFFFFF;
    }
  }
}
  
  
  
/*Smart phone*/
@media screen and (max-width: 480px){
  //Default screen mobile max 480px
}
/*Ipad d·ªçc(768 x 1024)*/
@media screen and (min-width: 768px){
  .banner {
    .contact-banner {
      .contact-title {
        font-size: $font_size_content1_768;
        line-height: $line_height_content1_768;
      }
      .contact-title2 {
        font-size: $font_size_title_768;
        line-height: $line_height_title_768;
      }
    }
    .left-banner {
      .title-banner {
      }
    }
    .contact-box {
      width: calc(100% - 20px);
      margin: 32px auto;
      height: auto;
      .form-control {
        height: 35px;
      }
      .btn-send {
        font-size: $font_size_detail_768;
        line-height: $line_height_title_768;
        width: 200px;
        padding: 0;
        height: 35px;
      }
    }
    .hotline-box {
      height: 50px;
      font-size: $font_size_detail_768;
      line-height: $line_height_detail_768;
      width: 250px;
      margin: 20px auto;
      b {
        font-size: $font_size_content_768;
      }
    }
  }

  .company-location {
    margin-top: 32px;
    .company-item {
      min-height: 100px;
      .company-content {
        font-size: $font_size_detail_768;
        line-height: $line_height_detail_768;
        padding: 8px;
        b {
          font-size: $font_size_title_768;
          line-height: $line_height_title_768;
        }
        .number {
          font-size: $font_size_content1_768;
          line-height: $line_height_content1_768;
          b {
            font-size: $font_size_title_768;
            line-height: $line_height_title_768;
          }
        }
      }
      .company-title {
        font-size: $font_size_detail_768;
        line-height: $line_height_content1_768;
      }
    }
    .location1 {
      padding: 0;
    }
  }
  //shophouse-section
  .shophouse {
    .shophouse-header {
      .shophouse-title {
        padding-top: 175px;
        .shophouse-title1 {
          font-size: $font_size_content_768;
          line-height: $line_height_content_768;
        }
        .shophouse-title2 {
          font-size: $font_size_content1_768;
          line-height: $line_height_title_480;
        }
        .shophouse-title3 {
          font-size: $font_size_text_768;
          line-height: $line_height_text_768;
        }
      }
    }
    .shophouse-item1 {
      .shophouse-item1-img {
      }
    }
  }
  //shophouse-images
  .shophouse-images {
    flex-direction: column;
    .shophouse-images-item {
      .shophouse-item-img {
      }
      .shophouse-item-title {
        font-size: $font_size_content1_768;
        line-height: $line_height_content1_768;
      }
    }
  }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px){

}
/*Desktop 1920*/
@media screen and (min-width: 1920px){

}